@font-face {
    font-family: 'Quicksand';
    src: url("./font/Quicksand-VariableFont_wght.ttf");
}

*{
    font-family: 'Quicksand';
}

header{
    height: 72px;
    background-color: #f8f8f8;    
    font-size: 1rem;;
}

#connected{
    width: 0.8rem;
    height: 0.8rem;
}

.nav-link{
    font-size: 0.9rem !important;
}

